body {
	background-image: url(../img/123.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
h3{
	border-style: solid;
	margin-left:20%;
	margin-right:20%;
	color :red;
}
